@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    margin: 0;
    padding: 0;
}

body {
    font: normal 14px 'montserrat';
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
      
    background: hsl(30, 38%, 92%);
}

#container {
    display: flex;
    
    border-radius: 10px;

    background: hsl(0, 0%, 100%);
}

#conteudo {
    width: 300px;
}

#imagem-perfume {
    width: 300px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#produto {
    margin: 0;
    padding: 30px;
    padding-bottom: 10px;

    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

#titulo {
    margin: 0;
    padding: 10px 60px 10px 30px;
    color: hsl(212, 21%, 14%);
    font-size: 32px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}

#paragrafo {
    padding: 10px 30px;

    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

#preços {
    padding: 10px 75px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#preços h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Fraunces', sans-serif;
    color:  hsl(158, 36%, 37%);
}

#preços p {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
    text-decoration: line-through;
}

#botao {
    padding: 15px 30px;
}

button {
    padding: 10px 65px;
    border-radius: 10px;
    border: none;

    width: 240px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

button:hover {
    background-color: hsl(158, 36%, 17%);
}

footer {
    display: none;
}

@media (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body * {
        margin: 0;
        padding: 0;
    }

    body {    
        background: hsl(30, 38%, 92%);
    }
    #container {
        width: 350px;

        display: block;

        border-radius: 10px;
        background: hsl(0, 0%, 100%);
    }
    
    #imagem-perfume {
        width: 350px;

        content: url(./images/image-product-mobile.jpg);

        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    #conteudo {
        margin: 0;
        width: 350px;
    }
    
    #produto {
        margin: 0;
        padding: 20px 20px 5px 25px;
        color: hsl(228, 12%, 48%);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    #titulo {
        margin: 0;
        padding: 5px 20px 10px 25px;
        line-height: 33px;

        font-size: 32px;
        font-family: 'Fraunces', sans-serif;
        font-weight: 700;
    }
    
    #paragrafo {
        margin: 0;
        padding: 5px 30px 10px 25px;

        color: hsl(228, 12%, 48%);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    
    #preços {
        margin: auto;
        padding: 10px 125px 10px 25px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #preços h1 {
        margin: 0;
        color:  hsl(158, 36%, 37%);

        font-size: 32px;
        font-family: 'Fraunces', sans-serif;
    }
    
    #preços p {
        color: hsl(228, 12%, 48%);
        font-family:'Montserrat', sans-serif;
        text-decoration: line-through;
    }

    #botao {
        padding: 5px 20px 25px 25px;
    }
    
    button {
        padding: 0px 90px;
        
        width: 300px;
        height: 50px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        border-radius: 10px;
        border: none;

        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
    
    button:hover {
        background-color: hsl(158, 36%, 17%);
    }
}